@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    
    --primary-color: #63ff62;
    --secondary-color: #414141;
    --alpha-color: rgba(0, 0, 0, 0.9);
    --shadow: 0 15px 40px var(--alpha-color);
}

html {
    
    display: flex;
    justify-content: center;
}

body {
    width: 100%;
    height: 100vh;
    max-width: 375px;
    position: relative;
    background: var(--bg);
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

::-webkit-scrollbar {
    display: none;
}

.home-section {
    width: 100%;
    padding: 15px;
    height: 100%;
    padding-bottom: 100px;
    overflow-y: auto;
    
}

.right{
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    padding-right: 10px;
}

i.fa-moon{
    font-size: 30px;
    margin-right: 20px;
}
i.fa-moon:hover{
    cursor: pointer;
}
/* navbar */

nav{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    font-size: 2.5em;
    
    text-transform: capitalize;
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
}

.user-img{
    background: transparent;
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

body.dark-mode .playlist{
    background: #000;
}

.dark-mode{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

/* loader  */



body.dark-mode #loading{
    background: #000;
}



#loading{
    margin-left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgb(255, 255, 255);
    z-index: 99;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;

}


body.dark-mode #spinner{
    border: 12px solid #fff;
    border-bottom: 12px solid rgba(255, 255, 255, 0.418);
}
#spinner{
    animation: rotate 0.56s infinite linear;
    width: 50px;
    height: 50px;
    border: 12px solid #000;
    border-bottom: 12px solid rgba(0, 0, 0, 0.418);
    border-radius: 50%;
    margin: 0;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}



/* carousel */

.carousel {
    display: flex;
    width: 330px;
    height: 200px;
    scroll-snap-type: x mandatory;
    height: 230px;
    overflow: auto;
    border-radius: 5px;
    flex: none;
    column-gap: 10px;
    
}

.card{
    scroll-snap-align: center;
    flex: none;
    width: 350px;
    height: 100%;
    padding: 10px 30px;
    border-radius: 10px;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
/* .carousel img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 1s;
}

.carousel img.active {
    opacity: 1;
} */



/* Recently article */
.heading {
    margin: 20px 0 10px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 30px;
}



/* Playlist  */

.playlists-group {
    position: relative;
    width: 100%;
    min-height: 200px;
    height: auto;
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
}

.playlist-card {
    flex: 0 0 auto;
    max-width: 150px;
    height: 100%;
    margin-right: 25px;
}

.rounded{
    border-radius: 50%;
}
.playlist-card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
}
.playlist-card-img:hover{
    height:  155px;
    transition: 0.5s;
    cursor: pointer;
    animation: alternate;
}

.rounded{
    border-radius: 50%;
}

.playlist-card-name {
    width: 100%;
    text-align: justify;
    font-size: 20px;
    text-transform: capitalize;
    padding: 5px;
}
.playlist-info{
    display: flex;
}

.fa-circle-plus, .fa-circle-minus{
    font-size: 20px;
    margin-top: 15px;
    margin-left: 5px;
}
.fa-circle-plus, .fa-circle-minus:hover{
    cursor: pointer;
}
.fa-circle-plus.added{
    visibility: hidden;
}
.fa-circle-minus{
    opacity: 0;
}
.fa-circle-plus.added .fa-circle-minus{
   opacity: 1;
}


/*  Music  Player */

.music-player {
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, .75);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(50px);
    transition: 1s;
}
body.dark-mode .music-player{
    background: rgba(0, 0, 0, .75);
}
.music-player.active{
    
    background: transparent;
}


.music-bar {
    -webkit-appearance: none;
    width: 100%;
    position: absolute;
    top: -4px;
    height: 8px;
    background: var(--secondary-color);
    overflow: hidden;
}

.music-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 5px;
    background: var(--primary-color);
    cursor: pointer;
    box-shadow: -400px 0 0 400px var(--primary-color);

}

.current-song-name {
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    text-transform: capitalize;

}

.controls {
    position: relative;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 30px;
}

.controls span {
    display: none;
    opacity: 0;
    transition: 1s;
}

.music-player.active .controls {
    justify-content: space-between;
}

.music-player.active .controls span {
    font-size: 25px;
    display: block;
    opacity: 0.5;
}

.music-player.active .controls span.active {
    color: var(--primary-color);
    opacity: 1;
}

.controls .main i{
    margin: 0 5px;
    display: none;
}

.controls .main i.active {
    display: inline;
}




/*  max music player styles */

.music-player .hide {
    display: none;
    opacity: 0;
    transition: 1s;
}

.music-player.hide{
    opacity: 0;
    transition: 0s;
    animation: none;
}

.music-player.active .hide {
    display: block;
    opacity: 1;
}

.music-player.active {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;

}

.music-player.active .music-bar {
    position: relative;
    border-radius: 5px;
    margin: auto;

}

.music-player.active .current-song-name {
    font-size: 40px;

}



.music-player.active .controls {
    width: 100%;
    font-size: 50px;
}


.artist-name {
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
}

.cover {
    width: 30vh;
    height: 30vh;
    object-fit: cover;
    margin: auto;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.cover:hover {
    transition: 0.8s;
    height: 35vh;
    width: 35vh;
    animation: cubic-bezier(1, 0, 0, 1);
}

.current-time {
    position: absolute;
    margin-top: 5px;
}

.duration {
    position: absolute;
    margin-top: 5px;
    right: 30px;
}

.icon {
    position: absolute;
    top: 60px;
    transform: scale(1.3);
}

.fa-solid:hover{
    cursor: pointer;
}
.back-btn {
    left: 40px;
}

.nav-btn {
    right: 40px;
}

/*  volume btn */

.volume-slider {
    -webkit-appearance: none;
    width: 100px;
    height: 20px;
    position: absolute;
    right: -35px;
    bottom: 100px;
    transform: rotate(-90deg);
    border-radius: 20px;
    background: var(--alpha-color);
    overflow: hidden;
    opacity: 0;
    display: none;
}

.volume-slider.active{
    opacity: 1;
    display: block;
}

.volume-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 40px;
    width: 10px;
    background: var(--primary-color);
    box-shadow: -200px 0 1px 200px  var(--primary-color);
}

/* playlist */

.playlist{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    padding:  30px 0;
    background: rgb(243, 243, 243);
    z-index: 3;
    transition: 1s;
    overflow: auto;
}

.playlist.active{
    right: 0;
}

.title{
    text-align: center;
    font-weight: 300;
    margin-top: 15px;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.queue{
    width: 100%;
    height: 80px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    border-top: 2px solid var(--alpha-color);
}


.queue-cover{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 20px;
    position: relative;
}

.queue-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.queue-cover i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: var(--primary-color);
    display: none;
}

.queue.active .queue-cover i{
    display: block;
}

.queue .name{
    font-size: 22px;
    text-transform: capitalize;
}


/* reciters page */

.reciter-page{
    width: 375px;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: #000;
    position: fixed;
    z-index: 990;
    overflow: auto;
}

.reciter-page.active{
    opacity: 1;
    visibility: visible;
}

.banner{
    background-image: linear-gradient( 217deg,  var(--primary-color) 39.2%, rgb(255, 255, 255) 156.2% );
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.banner h1{
    margin-left: 5px;
}

.banner img{
    height: 100px;
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
}

.playlist-reciter .back-btn{
    margin-top: 110px;
}
.playlist-reciter{
    margin-top: 50px;
    
}

.reciter-page2{
    width: 375px;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: #000;
    position: fixed;
    z-index: 990;
    overflow: auto;
}

.reciter-page2.active{
    opacity: 1;
    visibility: visible;
}

.playlist-reciter .back-btn2{
    margin-top: 110px;
    margin-left: 10px;
}

.reciter-page3{
    width: 375px;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: #000;
    position: fixed;
    z-index: 990;
    overflow: auto;
}

.reciter-page3.active{
    opacity: 1;
    visibility: visible;
}

.playlist-reciter .back-btn3{
    margin-top: 110px;
}

.reciter-page{
    background: #fff;
    color: #000;
}

body.dark-mode .reciter-page{
    background: #000;
    color: #fff;
}
.queue2{
    width: 100%;
    height: 80px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    border-top: 2px solid var(--alpha-color);
}
.queue2.active .queue-cover i{
    display: block;
}

.queue2 .name{
    font-size: 22px;
    text-transform: capitalize;
}
